* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body {
    padding: 50px 0;
    background: url("../images/bg.png") #eee repeat;
}
div {
    display: block;
}
a {
    color: #31c5c7;
    text-decoration: none;
    transition: all 0.3s ease;
}
    a:hover,
	a:active {
		color: #444;
		}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
::selection {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	}
/* index -- MAIN-CONTENT -- start */
.main-content {
    height: 1500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-intro{
    height: 567px;
    background: url("../images/intro.jpg") no-repeat;
    background-size: cover;
}
.cover-wrap{
    width: inherit;
    height: 567px;
    display: flex;
    flex-direction: column;
}
.photo-intro h1{
    width: 900px;
    text-align: center;
    margin: 0 auto;
    margin-top: 140px;
    font-weight: bold;
    color: white;
    font-size: 3em;
    text-shadow: 0 0 15px black;
}
.photo-intro h4{
    width: 900px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
    text-shadow: 0 0 15px black;
}
.main-btn{
    padding: 20px 40px;
    font-size: 1.6em;
    margin-top: 130px;
    align-self: center;
    border-radius: 0;
    background: #2263D5;
}
.category-intro{
    height: 300px;
    background: #eee;
}
.category-view{
    margin-top: 20px;
}
.category-view img{
    width: 350px;
}
.category-content{
    margin-top: 20px;
}
.category-content h3{
    margin-top: 20px;
    text-align: center;
}
.category-content p{
    margin-top: 20px;
    text-align: justify;
}
/* index -- MAIN-CONTENT -- end*/
/* index -- FOOTER -- start */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 40px;
    width: 100%;
    overflow-y: auto;
    z-index: 0;
    background-image: linear-gradient(to top,#ccc 0,#ddd 100%);
    background-repeat: repeat-x;
    border-top: 1px solid #e7e7e7;
    border-width: 1px 0 0;
    box-shadow: inset 0 1px 0 #ccc;
    color: #666;
}
.subfooter {
    max-width: 1140px;
    margin: 0 auto;
}
.copyright {
    float: left;
    font-size: 13px;
    line-height: 50px;
}
.socials {
    padding: 5px 0;
    display: inline-block;
    vertical-align: top;
}
.socials-list {
    font-size: 0;
}
.socials-item {
    height: 40px;
    width: 40px;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 2px;
    background: none !important;
}
.footer .socials-item {
    margin-top: 0;
    margin-bottom: 0;
}
.socials-item-link {
    height: 40px;
    width: 40px;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    overflow: hidden;
    color: #999;
}
.socials-item-link:hover {
	border: none !important;
	color: #fff !important;
}
.socials-item-link i {
    font-size: 18px;
    line-height: 40px;
    position: relative;
}
.socials-item .socials-item-link:before {
    display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
    transition: height 0.3s ease;
}
.socials-item:hover .socials-item-link:before {
    height: 100%;
}
.socials-item.facebook .socials-item-link:before {
    background-color: #3b5998;
}
.socials-item.twitter .socials-item-link:before {
    background-color: #00acee;
}
.socials-item.linkedin .socials-item-link:before {
    background-color: #0073b2;
}
.socials-item.google-plus .socials-item-link:before {
    background-color: #c63b1e;
}
.socials-list:before, .socials-list:after {
    content: " ";
    display: table;
}
.socials-list:after {
    clear: both;
}
/* index -- FOOTER -- end */