*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(../image/bg.png);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.register{
	height: 300px;
	background-image: url(../image/registerBG.png);
	margin-top: 100px;
	display: none;

}
.register p{
	color: #386275;
	margin-top: 20px;
	padding-bottom: 10px;
	font-size: 50px;
	border-bottom: 1px solid #cdcece;;
}
.register input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom:1px solid #cdcece;
	box-shadow:none;
}
.register input {
	color:#b1b1b1;;
	margin-top: 20px;
	border:1px solid #cdcece ;
	 background: url(../image/input-pattern.png);
	 font-size: 18px;
	 padding-top:5px;
}

.line{
    margin-top: 5px;
	width:100%;
	border-bottom:1px solid #cdcece;
}
.register-button{
	margin-top:15px;
	margin-bottom: 10px;
}
.quiz{
	display: none;
}
.quizparagraph{
	    color: #E9F4F9;
    padding-top: 20px;
    font-size: 50px;
    font-weight: 400;
    text-shadow: 2.5px 4.3px 0 rgba(0,0,2,.4);
}
.innerQuiz{
	min-height: 450px;
	 background: url(../image/mainBG.png);
	    margin: 70px auto;
	    padding: 10px;
}
.question{
	    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 15px;
        color: #717171;

}
input[type=radio]+label {
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-top: 15px;
    padding-left: 40px;
    cursor: pointer;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after{
	display: none;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
	display: none;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label{
	font-size: 18px;
}
.btns{
    padding-top: 40px;
}
.btns a{
	margin-left: 10px;
}
.hint{
	 padding: 5px;
    margin-top: 20px;
    border-bottom: 5px solid #83a9bc;
    font-size: 18px;
    font-weight: 700;
}

.clicked{
	    background: #9CC7DC;
    background-size: 20px;
    box-sizing: border-box;
}


