
.quiz-top {
    margin-top: 20%;
}
.quiz-cont{
    margin-top: 50px;
}
.quest-num {
    height: 30px;
    margin-top: 7px;
}
.quest-num span{
    line-height: 30px;
}
.quest-cont{
    margin: 10px 0 10px 0;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  	.main {
    flex: 1 0 auto;
  }